li a {
color: green;
}

header h1 {
color: black;
}


body {
  background:  url("images/background.png") no-repeat;
  font-family: Georgia, "Times New Roman",
          Times, serif;
  margin: 2%; /* Убираем отступы */
  padding: 10px; /* Поля вокруг текста */


}
