<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search synonyms from text</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main_webform/style.css' %}">

<header>
    <h1>Поиск синонимов в тексте</h1>
  </header>

<body>
{% block content %}
  <form action = "" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Поиск</button>
  </form>

{% endblock %}

</body>
</html>